/*
Colour palette:
  #2B2D42 - Gunmetal
  #D90368 - Dogward Rose
  #8C98AD - Gray-Blue
  #EDF2F4 - Anti-Flash White
  #0DAB76 - Green (Munsell)
*/

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
article {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 80%;
  min-height: 100%;
  margin: auto;
  /*background-color: blue;*/
  font-size: 0;
}

h1 {
  color: #D90368;
  text-align: center;
  padding: 1em 0 1em 0;
  font-size: 3.998rem;
}

.traintimes-wrapper {
  /*background: purple;*/
  padding: 1em;
  /*border: teal 1px solid;*/
  width: 100%;
  font-size: 0;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

.traintimes-header {
  font-size: 1.999rem;
  padding: 0.5em;
  /*background: pink;*/
  width: 100%;
  text-align: center;
  display: inline-block;
  height: 100%;
  border-bottom: 5px solid purple;
}

.traintimes {
  width: 100%;
  min-height: 100%;
  /*background-color: red;*/
  /*border: 1px orange solid;*/
  font-size: 0;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}

@media(min-width: 900px){
  .traintimes {
    width: 50%;
    position: absolute;
  }

  .westbound {
    left: 0;
    top: 0;
    border-right: 1px solid purple;
  }

  .eastbound {
    right: 0;
    top: 0;
    border-left: 1px solid purple;
  }
}

.train-info {
  font-size: 0;
}

.train-info_header {
  /*background-color: grey;*/
  /*border: 1px orange solid;*/
  /*font-size: 0;*/
  display: inline-block;
  text-align: center;
  font-size: 1.414rem;
  padding: 0.354em;
}

.destination {
  width: 60%;
}

.departure {
  width: 40%
}

.append-data {
  /*font-size: 0;*/
  /*background: yellow;*/
  height: 100%;
}

/* styles created in js */
.west-dest-unit,
.east-dest-unit {
  width: 60%;
}

.west-dep-unit,
.east-dep-unit {
  width: 40%;
}

.west-dest-unit,
.west-dep-unit,
.east-dest-unit,
.east-dep-unit {
  font-size: 1rem;
  display: inline-block;
  padding: 0.5rem;
}
