/*
Colour palette:
  #2B2D42 - Gunmetal
  #D90368 - Dogward Rose
  #8C98AD - Gray-Blue
  #EDF2F4 - Anti-Flash White
  #0DAB76 - Green (Munsell)
*/

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  background-color: #EDF2F4;
}

body {
  background-color: #EDF2F4;
  height: 100%;
}

.main-container {
  width: 80%;
  min-height: 100%;
  margin: auto;
  /*background-color: blue;*/
  font-size: 0;
}

h1 {
  color: #fff;
  text-align: center;
  padding: 1em 0 1em 0;
  font-size: 2rem;
}

.traintimes {
  width: 50%;
  min-height: 100vh;
  background-color: red;
  border: 1px orange solid;
  font-size: 0;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}

.train-info {
  font-size: 0;
}

.train-info_header {
  width: 50%;
  background-color: grey;
  border: 1px orange solid;
  font-size: 0;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}

.append-data {
  font-size: 0;
  background: yellow;
  height: 100%;
}

/* styles created in js */
.west-dest-unit,
.west-dep-unit,
.east-dest-unit,
.east-dep-unit {
  font-size: 1rem;
  width: 50%;
  display: inline-block;
}
